<br>
<br>
<div class="container">
    <div class="row">
        <div class="demoService " style="margin-top:5%">
            Transferring funds from your wallet is very simple and <br> convenient and that to at 0% interest.
        </div>
        <div><img src="../../../assets/fund-transfer-removebg-preview.png" alt="" height="200px" style="margin-left: 10%;"></div>

    </div>
    <hr>
    <br>
    <div class="demoService  row">
        <div><img src="../../../assets/eCash-and-Digital-Wallets-removebg-preview.png" alt="" height="170px"> </div>
        <div style="margin-top:4%;">No compelling reason to put an enormous amount of cash into your pockets, <br> simply store cash and use it anyplace</div>
    </div>
    <hr>
    <br>
    <div class="demoService row">
        <div style="margin-top:5%;"> Instant withdraw your money and use it anywhere.</div>
        <div><img src="../../../assets/279-2796500_cash-withdrawal-logo-png.png" alt="" height="200px" style="margin-left: 35%;"></div>
    </div>
    <hr>
    <br>
    <div class="demoService row">

        <div><img src="../../../assets/allTransactions-removebg-preview.png" alt="" height="200px"></div>
        <div style="margin-left:10%;margin-top:5%;"> A service to know the recent deposit, withdraws <br> and fund transfer at one place.</div>
    </div>
</div>