.moneyInput,
.cardInput,
.upiInput,
.monthYear,
.cvvInput,
.pinInput,
.nameInput {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    font-size: x-large;
    margin-left: 10px;
    padding: 5px;
    ;
}

.moneyDiv {
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    border-radius: 10px;
    width: 350px;
}

.Card-Payment,
.UPI-Payment {
    border-top: 1px solid green;
    width: 400px;
    margin-top: 5%;
    border: 2px solid black;
    border-radius: 20px;
}

.monthYear {
    border-top: 1px solid green;
    width: 240px;
}

.cvvInput,
.pinInput {
    border-top: 1px solid green;
    width: 130px;
}

.pinInput,
.upiInput {
    border-bottom: 1px solid green;
}

.nameInput {
    border-bottom: 1px solid green;
    width: 350px;
}

.UPI-Payment {
    width: 350px;
    border-bottom: 1px solid green;
}