input{
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border:none;
}
.input-field{
    border-bottom: 1px solid black;
    
}
.signupButton
{
    width: 230px;
    border-radius: 25px;
    background-color: yellowgreen;
    outline: none;
    margin-left: 20%;
}
.signupButton:hover{
    background-color: green;
}
