<div class="container main">

    <h1>Contact Us</h1>

    <h2>We Would Love to Help You <br>Reach us At:
    </h2>
    <h4><img src="https://img.icons8.com/doodle/96/000000/address.png " style="width:64px;" />Address: GC-11,Prabhat Colony,Sector 7,</h4>
    <h4><span style="margin-left:14% ;">Bokaro Steel City(827013),Jharkhand</span></h4>
    <h4><img src="https://img.icons8.com/plasticine/100/000000/phone.png" style="width:64px;" />&nbsp;Phone Number: 9097032922</h4>
    <h4><img src="https://img.icons8.com/dusk/64/000000/ringing-phone.png" style="width:64px;" />&nbsp;Telephone Number: +916542-355509</h4>
    <h4><img src="https://img.icons8.com/ios-filled/100/000000/email-open.png" style="width:64px;" />&nbsp;Email: <a href="mailto:sauravsuman6819@gmail.com">sauravsuman6819@gmail.com</a></h4>

</div>