<div class="container-fluid row">
    <div class="about">
        <h2>Easy,Fast and Secure</h2>
        <h4>
            Wallet is an online prepaid record used to store cash and execute on the web and disconnected through a PC or a cell phone at whatever point required. wallets to a great extent wipe out the need to convey a physical wallet by putting away the entirety
            of a buyer's installment data safely and minimally. It is a pre-prepared electronic wallet which, much the same as a genuine wallet, is utilized by the clients to execute promptly (and safely). Not at all like Bank Accounts, eWallets are viewed
            as a quick method of advanced exchanges.
        </h4>
    </div>
    <div class="aboutImage">
        <img src="../../../assets/wallet.jpg" alt="" style="border-radius: 20px;">
    </div>


</div>